<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Quicksand:wght@300;400;500;600;700&family=Shantell+Sans:wght@300&display=swap"
    rel="stylesheet" />
  <title>who wants to be a millionaire?</title>
  <link rel="stylesheet" href="../css/dist/game-over.css" />
  <script src="../ts/dist/game-over.js" defer></script>
  <script src="../controller/dist/idGenerator.js" defer></script>
  <script src="../controller/dist/shufflesAnswers.js" defer></script>
  <script src="../controller/dist/checkAnswers.js" defer></script>
  <script src="../controller/dist/randomAnswers.js" defer></script>
  <script src="../model/dist/questions.js" defer></script>
  <script src="../model/dist/users.js" defer></script>
</head>

<body>
  <audio src="/Who-want-to-be-a-millionaire/audio/wrong-anser.mp3" id="audio" autoplay="autoplay"
    preload="auto"></audio>
  <div class="background-iamge">
    <div class="container">
      <div class="container__headline"></div>
    </div>
  </div>

  <h2 class="gameOver">Game Over</h2>

  <div class="gameOverMessage" id="gameOverMessage"></div>

</body>

</html>