<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./dist/questionsView.js" defer></script>
    <link rel="stylesheet" href="../css/dist/questionsView.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Quicksand:wght@300;400;500;600;700&family=Shantell+Sans:wght@300&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="question">
            <h2>What is the capital city of Colombia?</h2>
        </div>
        <span class="line"></span>
        <div class="answers ab">
            <p class="a">Buenos Aires</p>
            <p class="b">Lima</p>
        </div>
        <div class="answers cd">
            <p class="c">São Paulo</p>
            <p class="d">Bogota</p>
        </div>

    </div>
</body>

</html>