
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
   <link rel="stylesheet" href="../css/dist/register.css">
   <link rel="stylesheet" href="../css/dist/hp.css">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Quicksand:wght@300;400;500;600;700&family=Shantell+Sans:wght@300&display=swap" rel="stylesheet">
   <script src="../controller/dist/register.js"></script>
   <script src="../model/dist/users.js"></script>



  </head>
  
<body>
    

<div  class="row">
    <div class="columna">
        <h1 class="heading"> Sign up  </h1> 
    <h2  class="h2"> Let's Start</h2>
    <form class="form"  onsubmit="handleRegisterFormSubmit(event)"  id="register-form">
      <input type="text" name="name" id="text-input" placeholder="user name" required>
      <input type="password" name="password" id="password-input" placeholder="password" required>
      <input type="submit" class="submit_full" value="register">

    </form>
   
    </div>
        </div>
        <div id="rootName"></div>


 

</body>
</html>
