<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Quicksand:wght@300;400;500;600;700&family=Shantell+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>who wants to be a millionaire?</title>
    <link rel="stylesheet" href="../css/dist/win-page.css" />
    <script src="../ts/dist/win-page.js" defer></script>
    <script src="../controller/dist/idGenerator.js" defer></script>
    <script src="../controller/dist/shufflesAnswers.js" defer></script>
    <script src="../controller/dist/checkAnswers.js" defer></script>
    <script src="../controller/dist/randomAnswers.js" defer></script>
    <script src="../model/dist/questions.js" defer></script>
    <script src="../model/dist/users.js" defer></script>
    <script src="../controller/dist/handleWin.js"></script>
    <script src="../controller/dist/handleWinHandleLose.js" defer></script>
  </head>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Quicksand:wght@300;400;500;600;700&family=Shantell+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>who wants to be a millionaire?</title>
    <link rel="stylesheet" href="../css/dist/win-page.css" />
    <script src="../model/dist/questions.js" defer></script>
    <script src="../model/dist/users.js" defer></script>
    <script src="../controller/dist/playButtonFunction.js"></script>
    <script src="../controller/dist/playAgainButtonFunction.js" defer></script>
    <script src="../controller/dist/loadNextQuestion.js"></script>
    <script src="../controller/dist/idGenerator.js" defer></script>
    <script src="../controller/dist/shufflesAnswers.js" defer></script>
    <script src="../view/dist/renderFirstQuestion.js" defer></script>
    <script src="../controller/dist/randomAnswers.js" defer></script>
    <script src="../controller/dist/checkAnswers.js" defer></script>
  </head>

  <body>
    <audio
      src="/Who-want-to-be-a-millionaire/audio/won-one-million.mp3"
      id="audio"
      autoplay="autoplay"
      preload="auto"
    ></audio>
    <div class="background-iamge">
      <div class="container">
        <div class="container__headline">
          <h2>You Just Won a Million Dollars!</h2>
        </div>
        <a href="./single-page.html">
          <button id="playAgain">Play Again</button>
        </a>

        <!-- <div class="container__money">
        <div class="mill">
          <p>$1 Million</p>
        </div>
        <div class="win">
          <p>$500,000</p>
          <p>$250,000</p>
          <p>$100,000</p>
          <p>$50,000</p>
          <p>$25,000</p>
          <p>$15,000</p>
          <p>$12,000</p>
          <p>$10,000</p>
          <p>$7,500</p>
          <p>$5,000</p>
          <p>$3,000</p>
          <p>$2,000</p>
          <p>$1,000</p>
          <p>$500</p>
        </div>
        
      </div>
    </div>
  </div>

  <div class="question">
    <div class="question__text">
      <h2>What is the capital city of Colombia?</h2>
    </div>
    <div class="question__answers ab">
      <button id="btn-incorrect">
        <p class="a">Buenos Aires</p>
      </button>
      <button id="btn-incorrect">
        <p class="b">São Paulo</p>
      </button>
    </div>
    <div class="question__answers cd">
      <button id="btn-incorrect">
        <p class="c">Lima</p>
      </button>

       -->

        <!-- <button id="button" id="button-53" role="button">
        <p class="d">Bogota</p>
      </button> -->
      </div>
      <canvas id="confetti"></canvas>

      <!-- the confetti button should be the correct answer -->
    </div>
    <div class="message" id="message"></div>

    <video
      id="audioPlayer"
      autoplay
      muted
      playsinline
      preload="auto"
      poster="/path-to-your-poster-image.jpg"
    >
      <source
        src="/Who-want-to-be-a-millionaire/audio/won-one-million.mp3"
        type="audio/mpeg"
      />
    </video>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
</html>
