* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
background-image: url(/Who-want-to-be-a-millionaire/images/match-stars-pc.jpg);
background-color: rgb(110, 43, 226);
width: 100vw;
height: 100vh;
color: #fff;

@media (max-width:1000px) {
    background-image: url(/Who-want-to-be-a-millionaire/images/match-stars-mobile-final.jpg);
    background-size: cover;
    background-color: rgb(110, 43, 226);
    width: 100vw;
    height: 100vh;

}


body {

    font-family:'Chakra Petch', sans-serif;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 25px;
   

    .question {
       width: 80vw;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 25vh;
        border-radius: 15%;
        padding: .5rem;
        display: flex;
        background-color: darkblue;
        opacity: 80%;
        border: #fff solid 3px;  
        
    }

    .answers {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 3rem;
        gap: 20px;
       
        
        .a, .b, .c, .d {
            
            width: 40vh;
            border-radius: 15%;
            padding: 10px;
            border: #fff solid 3px;
            background-color: darkblue;
            opacity: 80%;
        }

        .d {
            background-color: rgb(57, 235, 37);
        }

    }
}
}
