$radius: 12%;
$fontSize: 20px;

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  background-image: url(https://i.ytimg.com/vi/7iYj4Z_PXLU/maxresdefault.jpg);
  background-size: cover;
  background-color: rgb(110, 43, 226);
  width: 100vw;
  height: 100vh;

  @media (max-width: 1370px) {
    background-image: url(https://cdn.wallpapersafari.com/52/43/Ck5fQ7.jpg);
    background-size: cover;
    background-color: rgb(110, 43, 226);
    width: 100vw;
    height: 100vh;
  }

  body {
    font-family: "Chakra Petch", sans-serif;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 22px;
    color: white;
    text-align: center;

    .container {
     
      &__money {
        float: right;
        margin-right: 8rem;
        margin-top: 6rem;
        margin-bottom: 2rem;

        .win {
          padding: 0.5rem;
          width: 150px;
          margin: auto;

          p {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2px;
            font-size: $fontSize;
            border: 1px solid #fff;
            border-radius: $radius;
            margin: 0.2rem;
            background-color: darkblue;
            opacity: 80%;
            box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
          }
        }

        .mill {
          display: flex;
          flex-flow: column;
          width: 160px;
          padding: 7px;
          margin: auto;
          margin-top: 1rem;
          border-top-left-radius: 80px;
          border-top-right-radius: 80px;
          border: 0.5px solid #fff;
          background-color: goldenrod;
          opacity: 95%;
          box-shadow: 10px 10px 17px rgba(255, 255, 255, 0.981);
        }

        #Start {
          padding: 5px;
          border-radius: 15%;
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 4rem;
          border: 1px white solid;
          background-color: darkblue;
          color: gold;
          opacity: 70%;
          border-bottom-left-radius: 80px;
          border-bottom-right-radius: 80px;
          box-shadow: 5px -7px 10px rgba(255, 255, 255, 0.981);
        }

        .won {
          background-color: rgb(52, 238, 10); 
          font-weight: bold; 
        }
      }
    }

    .question {
     display: grid;
     margin: 1rem;

      &__text {
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 12vh;
        border-radius: $radius;
        padding: 0.5rem;
        display: flex;
        background-color: darkblue;
        opacity: 80%;
        border: #fff solid 3px;
      }
 

      &__answers {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 1.5rem;
        gap: 20px;
        

        .answer {
          width: 35vh;
          border-radius: 12%;
          padding: 10px;
          border: #fff solid 3px;
          background-color: darkblue;
          opacity: 80%;
          cursor: pointer;
          color: #fff;
         font-size: $fontSize;

         
    @media (max-width: 1000px) {
    font-size: 15px;
    width: 220px;
  }
}
}
}

    @media (max-width: 1000px) {
      width: 50%;
      font-size: 17px;
      display: grid;


    }
  }
}
.message {
  color: goldenrod;
  font-size: 70px;
  margin: 5rem;
  height: 20px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
 }
